/* Color-Scheme For All Themes*/

* {
    background:    #212B30;
    background-alt:    #212B30ff;
    foreground:    #C4C7C5;
    border:    #4ca585;
    selected:    #4ca585;
    urgent:    #EC407Aff;
    logo:    #EC407Aff;
    on:    #61C766ff;
    off:    #EC7875ff;
}
